<div style="text-align:center" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4"> 
        Bienvenido a Empleados App
      </h2>
    </div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">Acerca de</a>
        </li>
        <a class="nav-link" routerLink="consulta">Consulta</a>
      </ul>
    </nav>
  </div>