<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Crear empleado</h3>
        <div class="form-group" style="padding:10px 0 ;">
            <input type="text" [(ngModel)]="empleadoDetalles.nombre" class="form-control" 
placeholder="Nombre">
        </div>
        <div class="form-group" style="padding:10px 0 ;">
            <input type="text" [(ngModel)]="empleadoDetalles.correo" class="form-control" 
placeholder="Correo">
        </div>
        <div class="form-group" style="padding:10px 0 ;">
            <input type="text" [(ngModel)]="empleadoDetalles.telefono" class="form-control" 
placeholder="Teléfono">
        </div>
        <div class="form-group" style="padding:10px 0;">
            <button class="btn btn-dark" (click)="addEmpleado(empleadoDetalles)">Crear</button>
        </div>
    </div>
</div>